//text
$text-color-blue: rgb(43, 190, 249);
$text-color-dark-blue: rgb(35, 58, 149);
$text-color-black: rgb(0, 0, 0);
$text-color-white: rgb(255, 255, 255);
$text-color-dark-gray: rgb(104, 104, 104);
$text-color-red: rgb(237, 23, 74);
$text-color-gray: rgb(113, 119, 142);
$text-color-lighter-gray: rgb(214, 214, 214);

//bg
$bg-color-white: rgb(255, 255, 255);
$bg-color-lighter-blue: rgb(240, 250, 255);
$bg-color-blue: rgb(43, 190, 249);
$bg-color-dark-blue: rgb(35, 58, 149);
$bg-color-red: rgb(237, 23, 74);
$bg-color-lighter-red: rgb(255, 241, 238);
$bg-color-lighter-gray: rgb(230, 230, 230);
