//font family
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

//thems
@import "./colors";

//pages
@import "./pages-style/home";
@import "./pages-style/about";
@import "./pages-style/my_account";
@import "./pages-style/wishlist";
@import "./pages-style/cart";
@import "./pages-style/otpVerfication";
@import "./pages-style/product";
@import "./pages-style/products";

//components
@import "./component-style/header";
@import "./component-style/navbar";
@import "./component-style/catgeories";
@import "./component-style/banner";
@import "./component-style/home_section01";
@import "./component-style/section_heading";
@import "./component-style/products_slider";
@import "./component-style/product_view_01";
@import "./component-style/product_cart";
@import "./component-style/footer";
@import "./component-style/login_signup";
@import "./component-style/image_slider";
@import "./component-style/products_section01";
@import "./component-style/address";
@import "./component-style/wishlist_product_cart";
@import "./component-style/slider_menu";
@import "./component-style/location";
@import "./component-style/search";

// ------------------------------------------------

// //tablet ------------------
// @media only screen and (min-width: 801px) and (max-width: 1024px) {
// }

// //mobile ------------------
// @media (max-width: 800px) {
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// html

html {
  font-size: 16px;
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

//mobile ------------------
@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

//body
body {
  width: 100%;
  height: 100%;
}

header {
  height: 3vmax;
  width: 100%;
  border-bottom: 1px solid $text-color-lighter-gray;
}

nav {
  height: 6vmax;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: $bg-color-white;
}

.categories_section {
  height: 6vmax;
  width: 100%;
  border-bottom: 1px solid $text-color-lighter-gray;
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  nav {
    height: 7vmax;
  }

  .categories_section {
    height: 7vmax;
  }
}

//mobile ------------------
@media (max-width: 800px) {
  header {
    display: none;
  }

  nav {
    height: 10vmax;
  }

  .categories_section {
    display: none;
  }
}

//classes
a {
  color: inherit;
  text-decoration: none;
}

hr {
  width: 100%;
  border: 1px solid $bg-color-lighter-gray;
  margin: 0.5vmax 0;
}

.input_single_container {
  display: flex;
  flex-direction: column;
  gap: 0.2vmax;

  > label {
    font-size: 0.9rem;
    font-weight: 600;
    color: $text-color-gray;
  }

  > input,
  textarea {
    padding: 1vmax;
    outline: none;
    border: none;
    background-color: $bg-color-lighter-gray;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
  }
}

.input_select_container {
  display: flex;
  flex-direction: column;
  gap: 0.2vmax;

  > label {
    font-size: 0.9rem;
  }

  > div {
    display: flex;
    gap: 0.5vmax;

    > select {
      outline: none;
      border: none;
      padding: 1vmax;
      background-color: $bg-color-lighter-gray;
      border-radius: 5px;
      font-size: 1rem;
    }

    > input {
      width: 100%;
      outline: none;
      border: none;
      padding: 1vmax;
      background-color: $bg-color-lighter-gray;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}

.input_radio_container {
  display: flex;
  align-items: center;
  gap: 0.5vmax;

  > label {
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  > input {
    font-size: 1rem;
  }
}

.input_checkbox_container {
  display: flex;
  align-items: center;
  gap: 0.5vmax;

  > label {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
  }

  > svg {
    font-size: 1rem;
  }

  > input {
    font-size: 1rem;
  }
}

//forward Box
.forward_box_container {
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;

  > .wrapper {
    height: max-content;
    max-height: 70vh;
    max-width: 80vw;
    background-color: $bg-color-white;
    padding: 3vmax;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2vmax;

    > .top {
      display: flex;
      flex-direction: column;
      gap: 0.3vmax;
      position: relative;
      padding-bottom: 1vmax;
      border-bottom: 1px solid $text-color-lighter-gray;

      > svg {
        position: absolute;
        right: 1%;
        font-size: 1.5rem;
        cursor: pointer;
      }
      f > h3 {
        font-size: 1rem;
      }

      > p {
        font-size: 0.9rem;
        width: 80%;
      }
    }

    > .bottom {
      width: 100%;
      display: flex;
      padding: 0.5vmax;
      flex-direction: column;

      > button {
        width: 100%;
        padding: 0.8vmax 0;
        border-radius: 50px;
        outline: none;
        border: none;
        background-color: $bg-color-blue;
        color: $text-color-white;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
