.address_container {
  height: 100%;
  width: 100%;
  padding: 1vmax;

  > .forward_box_container {
    > .wrapper {
      > .bottom {
        gap: 1vmax;
        overflow-y: scroll;
      }
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vmax;

    > h4 {
      font-size: 1.1vmax;
    }

    > button {
      font-size: 1vmax;
      background-color: transparent;
      border: none;
      outline: none;
      color: $bg-color-blue;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    > .pre_address {
      display: flex;
      flex-direction: column;
      gap: 0.5vmax;
      padding: 1vmax;

      > span {
        width: 100%;
        font-size: 1vmax;
      }
    }
  }
}
