.breadcrumbs_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5vmax 0;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 0.3vmax;

  span {
    display: flex;
    align-items: center;
  }

  span:nth-last-child(1) {
    background: linear-gradient(
      to right,
      $text-color-dark-blue,
      $text-color-blue
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
