.footer_container {
  width: 100%;
  height: 100%;
  margin-top: 7vmax;

  > .subscription_box {
    height: 100%;
    width: 100%;
    background-color: $bg-color-dark-blue;

    > .box {
      height: 100%;
      width: 85%;
      margin: auto;
      display: flex;
      padding: 5vmax 0;
      position: relative;

      > .left {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vmax;

        > .top {
          color: $text-color-white;
          display: flex;
          flex-direction: column;
          gap: 0.4vmax;

          > h4 {
            font-size: 1.2rem;
            font-weight: 300;
          }

          > h3 {
            font-size: 1.8rem;
          }
        }
        > .center {
          font-size: 0.9rem;
          color: $text-color-lighter-gray;
          width: 75%;
        }

        > .bottom {
          width: 100%;
          background-color: $bg-color-white;
          padding: 0.2vmax 0.2vmax 0.2vmax 1vmax;
          height: 4vmax;
          display: flex;
          align-items: center;
          gap: 1vmax;
          border-radius: 5px;

          > svg {
            font-size: 2rem;
            color: $text-color-gray;
          }

          > input {
            height: 100%;
            outline: none;
            border: none;
            width: 100%;
            font-size: 1rem;
          }

          > button {
            height: 100%;
            padding: 0 1.5vmax;
            background-color: $bg-color-dark-blue;
            color: $text-color-white;
            border: none;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }

      > .right {
        width: 60%;
        height: 100%;

        > img {
          position: absolute;
          right: 10%;
          bottom: 0;
        }
      }
    }
  }

  > .wrapper {
    height: 100%;
    width: 85%;
    gap: 1vmax;
    margin: auto;
    display: flex;
    flex-direction: column;

    > .features {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 2vmax 0;

      > div {
        display: flex;
        align-items: center;
        gap: 0.8vmax;
        padding: 0 1vmax;

        > span:nth-child(1) {
          height: 100%;
          display: flex;
          align-items: center;

          > svg {
            font-size: 1.5rem;
          }
        }

        > span:nth-child(2) {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          font-weight: 600;
        }
      }
    }

    > .footer_categories {
      padding: 4vmax 0;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      > .category {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vmax;
        padding: 1vmax;
        border: 1px solid $bg-color-lighter-gray;

        > h4 {
          font-size: 1.2vmax;
          text-align: center;
          text-transform: uppercase;
        }

        > ul {
          list-style-type: none;
          -moz-column-count: 2;
          -moz-column-gap: 3vmax;
          -webkit-column-count: 2;
          -webkit-column-gap: 3vmax;
          column-count: 2;
          column-gap: 3vmax;
          column-rule: 1px double $bg-color-lighter-gray;
          column-fill: balance;

          > li {
            padding: 0.3vmax 1vmax;
            text-transform: capitalize;
            font-size: 0.9rem;
            font-weight: 500;
            width: 100%;
            cursor: pointer;
            transition: all 200ms ease-in-out;

            &:hover {
              color: $text-color-blue;
            }
          }
        }
      }
    }

    .footer_social {
      display: flex;
      justify-content: space-between;
      padding: 2vmax 0;
      gap: 2vmax;

      > .left {
        display: flex;
        gap: 1.5vmax;

        > .contact {
          display: flex;
          align-items: center;
          gap: 1vmax;

          > a {
            > svg {
              font-size: 4rem;
              padding: 1vmax;
              border-radius: 100%;
              border: 1px solid $bg-color-lighter-gray;
              cursor: pointer;
            }
          }

          > div {
            display: flex;
            flex-direction: column;
            gap: 0.3vmax;

            > span:nth-child(1) {
              font-size: 1rem;
              font-weight: 600;
            }

            > span:nth-child(2) {
              font-size: 0.8rem;
              color: $text-color-gray;
            }
          }
        }
      }

      > .right {
        display: flex;
        align-items: center;
        gap: 0.5vmax;

        > a {
          > svg {
            font-size: 3rem;
            padding: 1vmax;
            border-radius: 100%;
            border: 1px solid $bg-color-lighter-gray;
            cursor: pointer;
          }
        }
      }
    }

    > .end {
      display: flex;
      justify-content: space-between;
      padding: 1vmax 0;

      > .left {
        width: 40%;

        > span {
          font-size: 0.8rem;
          color: $text-color-gray;
        }
      }

      > .right {
        display: flex;
        align-items: center;
        gap: 1vmax;

        > ul {
          display: flex;
          list-style-type: none;
          gap: 0.5vmax;

          > li {
            font-size: 0.8rem;
            color: $text-color-gray;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    > .footer_navigations {
      position: fixed;
      width: 100vw;
      height: 8vmax;
      bottom: 0;
      left: 0;
      background-color: $bg-color-white;
      z-index: 9999;
      display: none;

      > ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        cursor: pointer;

        > li {
          > svg {
            font-size: 2rem;

            &:hover {
              color: $bg-color-blue;
            }
          }
        }
      }
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .footer_container {
    width: 100%;
    height: 100%;
    margin-top: 7vmax;

    > .subscription_box {
      > .box {
        width: 95%;
      }
    }

    > .wrapper {
      width: 95%;
    }

    > .wrapper {
      width: 95%;

      > .features {
        grid-template-columns: repeat(2, 1fr);
        gap: 1vmax;
      }

      > .footer_categories {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .footer_container {
    width: 100%;
    height: 100%;
    margin-top: 7vmax;

    > .subscription_box {
      > .box {
        width: 95%;
        flex-direction: column;
        padding: 5vmax 0 0 0;
        gap: 2vmax;

        .left {
          width: 100%;
        }

        > .right {
          width: 100%;

          > img {
            position: static;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    > .wrapper {
      width: 95%;
      margin-bottom: 7vh;

      > .features {
        grid-template-columns: repeat(2, 1fr);
        gap: 1vmax;
      }

      > .footer_categories {
        display: none;
      }

      > .end {
        display: none;
      }

      > .footer_navigations {
        display: block;
      }
    }
  }
}
