.header_container {
  height: 100%;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  > .left {
    height: 100%;
    display: flex;
    > ul {
      height: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 1vmax;

      > li {
        display: flex;
        font-size: 0.8rem;
        transition: all 200ms ease-in-out;

        &:hover {
          color: $bg-color-blue;
        }
      }
    }
  }

  > .center {
    height: 100%;
    display: flex;

    > ul {
      height: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 2vmax;

      > li {
        font-size: 0.8rem;
        transition: all 200ms ease-in-out;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.2vmax;

        > span {
          color: $text-color-blue;
          font-weight: 600;
        }
      }
    }
  }

  > .right {
    height: 100%;
    display: flex;

    > ul {
      height: 100%;
      display: flex;
      align-items: center;
      list-style-type: none;
      gap: 2vmax;

      > li {
        font-size: 1rem;
        transition: all 200ms ease-in-out;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.2vmax;

        &:hover > .dropdown {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }

        > span {
          font-weight: 600;
          color: $bg-color-blue;
        }

        > .dropdown {
          z-index: 2;
          position: absolute;
          display: flex;
          flex-direction: column;
          list-style-type: none;
          gap: 1vmax;
          padding: 1vmax 2vmax;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 5px;
          box-shadow: 0px 2px 10px $text-color-lighter-gray;
          opacity: 0;
          visibility: hidden;
          transition: all 300ms ease-in-out;
          top: -1vmax;
          background-color: $bg-color-white;

          > li {
            font-size: 1rem;
            cursor: pointer;

            &:hover {
              color: $bg-color-blue;
            }
          }
        }
      }
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .header_container {
    width: 95%;

    > .center {
      display: none;
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
}
