.home_section01_container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 2vmax 0;

  > .left {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 3vmax;

    > .vertical_banners {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1vmax;

      > img {
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    > .features {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid $bg-color-lighter-gray;
      border-radius: 5px;
      overflow: hidden;

      > div {
        display: flex;
        align-items: center;
        gap: 1vmax;
        padding: 1.5vmax 1vmax;
        border: 1px solid $bg-color-lighter-gray;

        > span:nth-child(1) {
          height: 100%;
          display: flex;
          align-items: center;

          > svg {
            font-size: 1.5vmax;
          }
        }

        > span:nth-child(2) {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 0.9vmax;
        }
      }
    }

    > .trending_products {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2vmax;

      > h4 {
        font-size: 1vmax;
        display: flex;
        flex-direction: column;
        gap: 0.5vmax;

        > a {
          width: max-content;
          text-wrap: nowrap;
          display: flex;
          align-items: center;
          gap: 0.3vmax;
          background-color: transparent;
          border: 1px solid $text-color-dark-gray;
          padding: 0.3vmax 0.6vmax;
          font-size: 1vmax;
          border-radius: 50px;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          color: $text-color-gray;
          font-weight: 500;

          &:hover {
            color: $text-color-black;
          }
        }
      }
    }
  }

  > .right {
    width: 80%;
    padding-left: 1vmax;
    display: flex;
    flex-direction: column;
    gap: 2vmax;

    > .long_banner {
      width: 100%;
      object-fit: contain;
      cursor: pointer;
      border-radius: 5px;
    }

    > .split_banners {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: 1vmax;

      > img {
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .home_section01_container {
    > .left {
      width: 25%;
    }
    > .right {
      width: 75%;
    }
  }
}

//mobile ------------------
@media (max-width: 480px) {
  .home_section01_container {
    flex-direction: column-reverse;
    gap: 5vmax;

    > .left {
      width: 100%;

      > .vertical_banners {
        flex-direction: row;
        gap: 1vmax;

        > img {
          width: 50%;
        }
      }

      > .trending_products {
        > h4 {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    > .right {
      width: 100%;
    }
  }
}
