.image_slider_container {
  height: 100%;
  width: 100%;
  display: flex;

  > .left {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    border: 1px solid $bg-color-lighter-gray;

    > img {
      height: 6vmax;
      width: 100%;
      object-fit: contain;
      background-color: $bg-color-white;
      padding: 0.5vmax;
      border: 1px solid transparent;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 200ms ease-in-out;

      &:hover {
        border: 1px solid $bg-color-blue;
        opacity: 0.6;
        transform: scale(1.1);
      }
    }

    > .active_img {
      opacity: 0.6;
      border: 1px solid $bg-color-blue;
    }
  }

  > .right {
    height: 100%;
    width: 80%;
    position: relative;
    background-color: $bg-color-white;

    > img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: none;
    }

    > .img_show {
      display: block;
    }
  }
}
