.login_signup_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vmax;

  > .top {
    display: flex;
    justify-content: center;
    gap: 3vmax;
    padding: 1vmax;

    .active {
      color: $text-color-black;
    }

    > span {
      font-size: 1.2rem;
      font-weight: 700;
      color: $text-color-gray;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        color: $text-color-black;
      }
    }
  }

  > .wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;

    > form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1vmax;

      > button {
        width: 100%;
        padding: 1vmax 0;
        background-color: $bg-color-dark-blue;
        color: $text-color-white;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }

      > p {
        width: 100%;
        font-size: 1rem;
        cursor: pointer;
        line-height: 1.3vmax;

        > a {
          color: $text-color-red;
          font-weight: 600;
        }
      }

      > span {
        width: 100%;
        text-align: end;
        font-size: 1rem;
        color: $bg-color-dark-blue;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
