.navbar_container {
  height: 100%;
  width: 85%;
  margin: auto;

  > .wrapper {
    height: 100%;
    width: 100%;
    padding: 1vmax 0;
    display: flex;
    align-items: center;
    gap: 1vmax;

    > .left {
      height: 100%;
      width: 20%;
      display: flex;
      align-items: center;
      gap: 2vmax;

      > .slider_menu {
        display: none;

        > svg {
          font-size: 2rem;
        }
      }

      > img {
        width: 100%;
        object-fit: contain;
        cursor: pointer;
      }
    }

    > .center {
      height: 100%;
      width: 75%;
      padding: 0 0.3vmax;
      display: flex;
      gap: 1.5vmax;

      > .navbar_location {
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1vmax;
        border: 1px solid $text-color-lighter-gray;
        border-radius: 10px;

        > div {
          display: flex;
          flex-direction: column;

          > span:nth-child(1) {
            font-size: 0.6rem;
            color: $text-color-gray;
          }

          > span:nth-child(2) {
            font-size: 0.8rem;
            color: $bg-color-dark-blue;
            font-weight: 700;
          }
        }
      }

      .forward_box_container {
        > .wrapper {
          > .bottom {
            overflow-y: scroll;
            gap: 0.5vmax;

            ul {
              display: flex;
              flex-direction: column;
              list-style-type: none;

              > li {
                font-size: 1rem;
                padding: 1vmax 1vmax;
                cursor: pointer;
                width: 100%;

                &:hover {
                  background-color: $bg-color-lighter-gray;
                }
              }
            }
          }
        }
      }

      > .navbar_search {
        width: 75%;
        height: 100%;
        background-color: $bg-color-lighter-gray;
        border-radius: 10px;
        display: flex;
        align-items: center;
        position: relative;

        > input {
          padding: 0 5vmax 0 2vmax;
          width: 100%;
          height: 100%;
          outline: none;
          background-color: transparent;
          border: none;
          font-size: 1rem;
        }

        > svg {
          font-size: 1.5rem;
          position: absolute;
          right: 3%;
          cursor: pointer;
        }
      }
    }

    > .right {
      height: 100%;
      width: 15%;
      padding: 0 0.3vmax;

      > ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > li {
          padding: 0.8vmax;
          border-radius: 100%;
          height: 3rem;
          width: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;

          > svg {
            font-size: 2rem;
          }

          > span {
            position: absolute;
            height: 1rem;
            width: 1rem;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $bg-color-red;
            border-radius: 100%;
            color: $text-color-white;
            font-weight: 500;
            top: 0;
            right: 5%;
          }
        }

        > li:nth-child(1) {
          border: 1px solid $text-color-lighter-gray;
        }
        > li:nth-child(2) {
          font-weight: 500;
        }
        > li:nth-child(3) {
          background-color: $bg-color-lighter-red;
        }
      }
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .navbar_container {
    width: 95%;

    > .wrapper {
      justify-content: space-between;

      > .left {
        width: 15%;

        > .slider_menu {
          display: none;
        }
      }

      > .center {
        width: 70%;
        justify-content: center;

        > .navbar_location {
          width: 30%;
        }

        > .navbar_search {
          width: 70%;
        }
      }

      > .right {
        width: 15%;

        > ul {
          > li:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .navbar_container {
    width: 95%;

    > .wrapper {
      justify-content: space-between;

      > .left {
        width: 30%;

        > .slider_menu {
          display: block;
        }
      }

      > .center {
        display: none;
      }

      > .right {
        width: 30%;
        > ul {
          > li:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
