.slider_menu_container {
  width: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: 99999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  .fade {
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }

  > .wrapper {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: $bg-color-white;
    padding: 1vmax;
    gap: 2vmax;
    overflow: scroll;

    > .top {
      height: 8vh;
      width: 100%;

      > img {
        height: 100%;
        object-fit: contain;
      }
    }

    > ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2vmax;

      > li {
        width: 100%;

        > span {
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: capitalize;
          padding: 1vmax;
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: all 300ms ease-in-out;

          > svg {
            font-size: 1rem;
          }
        }

        > .bottom {
          width: 100%;

          ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0 1vmax;

            > li {
              font-size: 1rem;
              padding: 1vmax;
              cursor: pointer;
              width: 100%;

              &:hover {
                background-color: $bg-color-lighter-gray;
              }
            }
          }
        }

        > h5 {
          font-size: 0.8rem;
          color: $text-color-gray;
        }
      }
    }
  }

  > .close_side {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;

    > svg {
      font-size: 3rem;
      cursor: pointer;
      color: $text-color-white;
      margin-top: 5vmax;
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .slider_menu_container {
    > .wrapper {
      width: 50%;
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .slider_menu_container {
    > .wrapper {
      width: 80%;
    }
  }
}
