.slider_menu_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  display: none;

  > .wrapper {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: $bg-color-white;
    padding: 1vmax;

    > .top {
      height: 8vh;
      width: 100%;

      > img {
        height: 100%;
        object-fit: contain;
      }
    }

    > h5 {
      font-size: 1rem;
      color: $text-color-gray;
    }
  }

  > .close_side {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    color: $text-color-white;
    padding-top: 5vmax;

    > svg {
      font-size: 4rem;
      cursor: pointer;
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .slider_menu_container {
    > .wrapper {
      width: 50%;
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .slider_menu_container {
    > .wrapper {
      width: 80%;
    }
  }
}
