.home_container {
  width: 100%;
  height: 100%;
  display: flex;

  > .wrapper {
    height: 100%;
    width: 85%;
    gap: 1vmax;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
