.myaccount_container {
  width: 100%;
  height: 100%;
  display: flex;

  > .wrapper {
    min-height: 70vh;
    width: 85%;
    gap: 1vmax;
    margin: auto;
    display: flex;
    flex-direction: column;

    .section_login_signup {
      min-height: 100%;
      width: 30vmax;
      margin: 5vmax auto;
      border: 1px solid $bg-color-lighter-gray;
      border-radius: 5px;
      padding: 2vmax;
    }

    .section_account_details {
    }

    .account_setting {
      width: 100%;
      margin: 2vmax auto;
      height: 100%;
      display: flex;
      align-items: center;

      > ul {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 1vmax;

        .active {
          color: $text-color-black;
          border-bottom: 2px solid $bg-color-blue;
        }

        > li {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 1.2vmax;
          text-transform: uppercase;
          font-weight: 600;
          color: $text-color-gray;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          padding: 1vmax 1vmax;
          border-bottom: 2px solid transparent;
          text-wrap: nowrap;

          &:hover {
            color: $text-color-black;
            border-bottom: 2px solid $bg-color-blue;
          }
        }
      }
    }

    > .dashboard {
      display: flex;
      flex-direction: column;
      gap: 2vmax;

      > p {
        font-size: 1vmax;
        font-weight: 500;

        > a {
          color: $bg-color-blue;
          text-decoration: underline;
        }
      }
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .myaccount_container {
    width: 100%;
    height: 100%;
    display: flex;

    > .wrapper {
      min-height: 70vh;
      width: 95%;
    }
  }
}

//mobile ------------------
@media (max-width: 480px) {
  .myaccount_container {
    width: 100%;
    height: 100%;
    display: flex;

    > .wrapper {
      min-height: 70vh;
      width: 95%;
    }
  }
}
