.products_container {
  width: 100%;
  height: 100%;
  display: flex;

  > .wrapper {
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .products_container {
    > .wrapper {
      width: 95%;
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .products_container {
    > .wrapper {
      width: 95%;
    }
  }
}
