.wishlist_container {
  width: 100%;
  height: 100%;
  display: flex;

  > .wrapper {
    height: 100%;
    width: 85%;
    gap: 1vmax;
    margin: auto;
    display: flex;
    flex-direction: column;

    > h1 {
      font-size: 1.5rem;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2vmax;
    }
  }
}

//tablet ------------------
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .wishlist_container {
    > .wrapper {
      width: 95%;

      > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vmax;
      }
    }
  }
}

//mobile ------------------
@media (max-width: 800px) {
  .wishlist_container {
    > .wrapper {
      width: 95%;

      > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vmax;
      }
    }
  }
}
